.container{
width: 700 px;
margin: 40px auto;
}



.container-elements{
/*background-color: grey;*/
color: black;
padding: 150px 0px;
background-size: cover;
background-position: center;
margin: 15px 0px;
font-size:25px ;
}






@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}